################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestResults
/source/CCM/obj
/source/CCMEngine/obj
/source/CCMTests/obj
/source/ccmUI/obj
/source/vsCCM/obj
